.App {
  text-align: center;
  background-image: url("./images/background3.png");
  background-size: 450px;
  min-height: 975px;
  height: max-content;
  font-family: 'Century Gothic', CenturyGothic, sans-serif;
  color: #50342b;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 720px) {
  /* estilos para pantallas 720p aquí */
  
}

@media only screen and (max-width: 480px) {
  /* estilos para dispositivos móviles aquí */
  
}

