
.div{
    background-color: #ffeeed;
    color:#17C3B2;
    display: flex;
    justify-content:flex-start;

    height: 181px;
}

.logo{
    
    height: 180px;
    margin: 20px;
    margin-left: 90PX;
    margin-top: 0PX;
   

}

.searchBar{
    margin-left: 50%;
 align-self: center;
 
}

@media only screen and (max-width: 650px) and (max-height: 896px){
   .div{
    display: flex;
    flex-direction: column;
    justify-content:center ;
    
   }
    .searchBar{
    display: flex;
    flex-direction: column;
    margin-left: 0;
    margin-bottom: 15px;
   }
}