.container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin: auto;
}
.div{
    margin: auto;
    max-width: 1300px;
}
.divaux{
    padding: 30px;
}

@media only screen and (max-width: 650px) and (max-height: 900px)  {
    .container {
      flex-direction: column;
      
    }
    .div {
      max-width: 400px;
    }
    .divaux {
      padding: 15px;
    }
  }

  @media only screen and (max-width: 400px) and (max-height: 900px)  {
    .container {
      flex-direction: column;
      
    }
    .div {
      max-width: 200px;
    }
    .divaux {
      padding: 10px;
    }
  }